.audio_player_container {
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pattern_image {
    height: 150px;
    width: 250px;
    object-fit: contain;
    margin-top: 2rem;
}

/************************/
/* Image Preview Styles */
/************************/

.image_preview_outer_container {
    background-color: #d4d3d3;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 10px;
    justify-content: center;
}

.image_preview_container {
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image_preview {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
